// Your custom variables

/***************************************************
    Custom Colors
***************************************************/
$brand-color: #260003;
$blue-accent: #064D73;
$green-accent: #262504;
$red-accent: #730B14;

/**************************************************
    Override Colors
***************************************************/
$primary-color: #064D73;