// Your custom styles

/***************************************************
    Custom Colors
***************************************************/
.brand-color{
    background-color: $brand-color !important;
}
.brand-color-text{
    color: $brand-color !important;
}
.blue-accent{
    background-color: $blue-accent !important;
}
.blue-accent-text{
    color: $blue-accent !important;
}
.green-accent{
    background-color: $green-accent !important;
}
.green-accent-text{
    color: $green-accent !important;
}
.red-accent{
    background-color: $red-accent !important;
}
.red-accent-text{
    color: $red-accent !important;
}