extends layout.pug

block config
    - var title = "Products"

block content
    include data.pug
    div(style='height: 100vh').mt-5
        .flex-center.flex-column.mt-5
            h3.text-center.dark-grey-text.pb-2 Products
            hr.w-header.my-4
            div.row.px-3
                each product in products
                    .col-lg-4.col-md-12.mb-4
                        .card.mb3.mr-3
                            img.card-img-top(src=product.imgSrc alt=`${product.productName}`)
                            .card-body
                                h4.card-title
                                    a=product.productName
                                p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s
                                    | content.
                                a.btn.btn-primary(href='#') More Info

